.dashboard-col {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dashboard {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#dashboard canvas {
    width: 450px !important;
    height: 450px !important;
}

#text-dashboard {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    #text-dashboard {
        font-size: 1rem;
    }

    #dashboard canvas {
        width: 350px !important;
        height: 350px !important;
    }
}